:root {
    --main-bg: #36382E;
    --main-font: #EDE6E3;
    --main-accent: #F06449;
    --main-hover: #dc9587;
}
*, *::before, *::after {
    box-sizing: border-box;
}
html {
    color-scheme: dark;
}
body {
    margin: 0;
    padding: 0;
    background: var(--main-bg);
    color: var(--main-font);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100dvw;
    min-height: 100dvh;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
hgroup {
    text-align: center;
    margin: 50px 0 0 20px;
}
#game-container {
    border-radius: 10px;
    background: linear-gradient(130deg, rgb(40, 72, 127) 11%, rgb(37, 13, 78) 86%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    margin: 20px 0 100px 0;
}
.picks-wrapper {
    outline: 1px solid green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    margin: 5px;
    text-align: center;
}
.picks-wrapper input {
    opacity: 0;
    position: fixed;
    width: 0;
}
.picks-wrapper input:hover + label {
    background: rgb(212,228,255);
    background: linear-gradient(320deg, rgba(212,228,255,1) 11%, rgba(192,154,255,1) 86%); 
}
.picks-wrapper input:checked + label, .picks-wrapper input:focus + label {
    background: rgb(236,147,127);
    background: linear-gradient(137deg, rgba(236,147,127,1) 11%, rgba(255,208,154,1) 86%); 
}
.picks-wrapper label {
    background: var(--main-font);
    color: var(--main-bg);
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
    min-width: 200px;
}
.score-box {
    padding: 10px;
    min-height: 30px;
    min-width: 150px;
}
button#submit {
    background: var(--main-accent);
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.5em;
    min-width: 30%;
    cursor: pointer;
}
#result {
    margin-top: 10px;
    display: block;
    overflow: auto;
    width: 250px;
    height: 200px;
    text-align: center;
}
.block {
    display: block;
}
.victory {
    color: rgb(141, 247, 141);
}
.defeat {
    color: rgb(255, 161, 161);
}