:root {
    --main-bg: black;
    --main-font: white;
    --main-accent: red;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: var(--main-bg);
    color: var(--main-font);
}